<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DouYuTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCB0C3A51C11A1A2007D6EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB0C3BE1C11A1A2007D6EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB0C3C91C11A1A2007D6EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
